
body{
    background:white;
}
#titulo{
    color:black;
    text-align: center;
}
#TEquipo{
    color:black;
    text-align: center;
}

#TAyuda{
    color:black;
    text-align: center;
}
